@using System.Data;
@model System.Data.DataSet



@{
    ViewData["Title"] = "Захтеви";
}

<form asp-action="AdminPregledZahteva" asp-controller="Admin" method="get">
    <label for="opisFilter">Изаберите статус:</label>
    <select id="opisFilter" name="opis">
        <option value="">Сви захтеви</option>
        <option value="odbijen">Одбијени</option>
        <option value="na_cekanju">На чекању</option>
        <option value="odobren">Одобрени</option>
    </select>
    <button type="submit" class="btn btn-sm btn-success">Потврди</button>
</form>


<h1>Списак свих захтева:</h1>

@if (Model != null && Model.Tables.Count > 0 && Model.Tables[0].Rows.Count > 0)
{
    <table>
        <tr>
            <th>Датум и Време Захтева</th>
            <th>ЈМБГ Корисника</th>
            <th>Статус Захтева</th>
            <th>Одобри/Одбиј</th>
        </tr>

        @foreach (DataRow row in Model.Tables[0].Rows)
        {
           <tr>

                <td>@row["DatumIVremeZahteva"]</td>
                <td>@row["JMBGKorisnika"]</td>
                <td>@row["Opis"]</td>
                
            
             <td>
                @if (row["Opis"].ToString() == "na_cekanju")
                {
                    <td>
                    <form method="post" action="@Url.Action("UpravljajZahtevima", "Admin")">
                        <input type="hidden" name="IDZahteva" value="@row["IDZahteva"]" />
                        <input type="hidden" name="jmbg" value="@row["JMBGKorisnika"]" />
                        <input type="hidden" name="action" value="odobri" />
                        <button type="submit" class="btn btn-sm btn-success">Одобри</button>
                    </form>
                    </td>
                    <td>
                    <form method="post" action="@Url.Action("UpravljajZahtevima", "Admin")">
                        <input type="hidden" name="IDZahteva" value="@row["IDZahteva"]" />
                        <input type="hidden" name="jmbg" value="@row["JMBGKorisnika"]" />
                        <input type="hidden" name="action" value="odbij" />
                        <button type="submit" class="btn btn-sm btn-success">Одбиј</button>
                    </form>
                    </td>
                }
                </td>
           </tr>
           
        }
    </table>
}

else
{
    <p>Нема захтева.</p>
}